<html>
  <head>
    <title>FAQ | Volunteer Board</title>
  </head>
  <body>
    <div align="left" >
      </br>
      <h1>General FAQ</h1><br>
      <p><b>What is the Volunteer Board?</b><br>The GPCF Volunteer Board is a database to help organizations in the Poweshiek community organize volunteer events, and help potential volunteers find an opportunity to take.</p><br>
      <p><b>How do I join the Volunteer Board?</b><br>It's easy! If you are a volunteer looking for opportunities, <a href="/users/sign_up">click here</a> and fill out the form, and you are ready to go! If you represent an organization who will host events and gather volunteers, then <a href="/organizations/sign_up">click here</a> and fill out your organization's information, and then wait to be approved by the system administrator.</p><br>
      <p><b>How do I sign in? I cannot get there.</b><br>If you are a volunteer, <a href="/users/sign_in">click here</a> and enter your username and password. If you are an organization that has been approved by the administrator (see below), <a href="/organization/sign_in">click here</a> to sign in.</p><br>
      <p><b>What is the administrator?</b><br>For security and ease of use for everyone else, we need to verify that an organization truly is who they say they are. We only need to do this once, and once that this is verified, we will approve the account. Until then, you will not be able to log in as an organization.</p><br>
      <p><b>How do I see the schedule of events?</b><br>If you are logged in to your account, then simply click on the "Events" tab at the top of the screen. This will get you started!</p><br>
      <p><b>As a volunteer, how to I register for an event?</b><br>When you are on the events schedule, simply click on the event to see more information. At the end of the information, there is a link that says "Register for Event". This will automatically add you as a volunteer for this event.</p><br>
      <p><b>As an organization, how do I create a new event?</b><br>For organizations, on your home page, there is a "Create New Event" button. Alternatively, on the events schedule, there is a "New Event" button at the top. Follow either of these buttons to create an event.</p><br>
      <p><b>As an organization, how do I edit an event?</b><br>After navigating to your event's information page, click on the "Edit Event" button towards the top right of the page.</p><br>
      <p><b>How do I see my profile?</b><br>Simply click on the "Profile" tab at the top of the page.</p><br>
      <p><b>How do I edit my profile?</b><br>When looking at your profile, simply click the "Edit Profile" button near the top of the page on the right.</p><br>
      <p><b>What is the Volunteer Board?</b><br>The GPCF Volunteer Board is a database to help organizations in the Poweshiek community organize volunteer events, and help potential volunteers find an opportunity to take.</p><br>
      <p><b>How do I delete my account?</b><br>If you wish to delete your account, you can find the option at the bottom of the "Edit Profile" page.</p>
    </div>
    
  </body>
</html>