<html>
  <head>
    <title>FAQ | Volunteer Board</title>
  </head>
  <body>
    <div align="left" >
      </br>
      <h1>General FAQ</h1>
      <p><b>This is where a question will go.</b><br>This is where an answer will go.</p>
      <p><b>This is where a question will go.</b><br>This is where an answer will go.</p>
      <p><b>This is where a question will go.</b><br>This is where an answer will go.</p>
    </div>
    
  </body>
</html>