<!DOCTYPE html>
<html>
  <head>
    <title>Home | Volunteer Board</title>
  </head>
  <body>
    <p id="notice"><%= notice %></p>
    <div align="center">
      <h1>Volunteer Board</h1>
    </div>
    <!-- if a user is signed in displays buttons that link to the events and user profile -->
    <% if user_signed_in? %>
      <div class="home-page-center">
        <p>
          <a class="btn btn-success home-page-button" href="/events" role="button">View Events</a>
        </p>
        <p>
          <a class="btn btn-success home-page-button" href="/users/<%=current_user.id%>" role="button">View Profile</a>
        </p>
      </div>
      <!-- if a user is signed in displays buttons that link to the events and organization profile -->
    <% elsif organization_signed_in? %>
      <div class="home-page-center">
        <p>
          <a class="btn btn-success home-page-button" href="/events" role="button">View Events</a>
        </p>
        <p>
          <a class="btn btn-success home-page-button" href="/organizations/<%=current_organization.id%>" role="button">View Profile</a>
        </p>
      </div>
    <!-- if nobody is logged in displays buttons to the organization sign in and sign up and the user sign in and sign up -->
    <% else %>
      <div class="home-page-center">
        <p>
          <a class="btn btn-success home-page-button" href="/users/sign_in" role="button">User Sign In</a>
          <a class="btn btn-success home-page-button" href="/organizations/sign_in" role="button">Organization Sign In</a>
        </p>
        <p>
          <a class="btn btn-success home-page-button" href="/users/sign_up" role="button">User Sign Up</a> 
          <a class="btn btn-success home-page-button" href="/organizations/sign_up" role="button">Organization Sign Up</a>
        </p>
      </div>
    <% end %>
  </body>
</html>