<!DOCTYPE html>
<html>
  <head>
    <title>Home | Volunteer Board</title>
  </head>
  <body>
    <div align="center">
      <h1>Volunteer Board</h1>
    </div>
    <div class="home-page-button">
    <p>
      <a class="btn btn-success" href="/users/sign_in" role="button">User Sign In</a>
      <a class="btn btn-success" href="/organizations/sign_in" role="button">Organization Sign In</a>
    </p>
    <p>
      <a class="btn btn-success" href="/users/sign_up" role="button">User Sign Up</a> 
      <a class="btn btn-success" href="/organizations/sign_up" role="button">Organization Sign Up</a>
    </p>
    <div>
  </body>
</html>