<!DOCTYPE html>
<html>
  <head>
    <title>Home | Volunteer Board</title>
  </head>
  <body>
    <h1>Volunteer Board</h1>
    <p>
      <a href="/organizations/new">Organization Sign Up</a>
    </p>
    <p>
      <a href="/users/new">User Sign Up</a>
    </p>
    <p>
      <a href="/users/3">User Profile</a>
    </p>
    <p>
      <a href="/organizations/1">Organization Profile</a>
    </p>
  </body>
</html>