<!DOCTYPE html>
<html lang="en">
<html>
  <body>
    <div class="home-page-center" >
        <h1>
            Sign Up
        </h1>
        <h2>
            I am a...
        </h2>
        <p>
          <a class="btn btn-success home-page-button" href="/users/sign_up" role="button">Volunteer</a>
          <a class="btn btn-success home-page-button" href="/organizations/sign_up" role="button">Organization</a>
        </p>
        </br>
        Already have an account?
        <a href="/users/sign_in">Sign In</a>
    </div>
  </body>
</html>
