<style>
  /* Main Attributes */
  main {
    background-color: #fafafa;
    margin-top: 5%;
    margin-left: 15%;
    margin-right: 15%;
    padding-bottom: 5%;
    border-radius: 25px;
}
</style>
<html>
  <body style="background-color: #1c842b;">
    <main>
    <div class="home-page-center" >
        </br>
        <h2> 
            Sign Up
        </h2>
        </br>
        <h4>
            I am a...
        </h4>
        <p>
          <a class="btn btn-success home-page-button" href="/users/sign_up" role="button">Volunteer</a>
          <a class="btn btn-success home-page-button" href="/organizations/sign_up" role="button">Organization</a>
        </p>
        </br>
        Already have an account?
        <a href="/static_pages/signin_options">Sign In</a>
    </div>
    </main>
  </body>
</html>