<!DOCTYPE html> 
<html lang="en">
  <body>
    <div class="home-page-center" >
        </br>
        <h2> 
            Sign Up
        </h2>
        </br>
        <h4>
            I am a...
        </h4>
        <p>
          <a class="btn btn-success home-page-button" href="/users/sign_up" role="button">Volunteer</a>
          <a class="btn btn-success home-page-button" href="/organizations/sign_up" role="button">Organization</a>
        </p>
        </br>
        Already have an account?
        <a href="/static_pages/signin_options">Sign In</a>
    </div>
  </body>
</html>