<html>
  <body>
    <div class="home-page-center" >
        </br>
        <h2> 
            Sign In
        </h2>
        </br>
        <h4>
            I am a...
        </h4>
        <p>
          <a class="btn btn-success home-page-button" href="/users/sign_in" role="button">Volunteer</a>
          <a class="btn btn-success home-page-button" href="/organizations/sign_in" role="button">Organization</a>
        </p>
        </br>
        Don't have an account?
        <a href="/static_pages/signup_options">Sign Up</a>
    </div>
  </body>
</html>