<p id="notice"><%= notice %></p>

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  
</head>
<body>
    
<table>
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>
<% if organization_signed_in? %>
  <tbody>
    <% (@users.order(:last_name)).each do |user| %>
      <tr>
        <td><a href=<%="users/#{user.id}"%>><%= user.first_name %></a></td>
        <td><%= user.last_name %></td>
      </tr>
    <% end %>
  </tbody>
  
<% else %>
  <tbody>
    You do not have access to this page, please log in as an organization to view the users
  </tbody>
<% end %>

</table>