/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= stub scaffolds
 *= stub active_admin
 *= require simple_calendar
 *= require_tree .
 *= require_self
 */
 
@import "simple_calendar";
@import "bootstrap";

/* Site-wide styling for tables */
table {
  border-collapse: collapse;
  width: 100%;
}

td {
  text-align: left;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
  background-color: #4CAF50;
  color: white;
}

/* Margins and centering */
.margin-sides {
  margin-right: 50px;
  margin-left: 50px;
}

.margin-left {
  margin-left: 50px;
}

.center-form {
  text-align: center; 
  margin: auto;
}

/* Width options used for text input */
.width-lg {
  width: 550px;
}

.width-med {
  width: 350px;
}

.width-sm {
  width: 200px;
}

/* Explicitly set text fields to 100% of their container */
input[type="text"] {
  width: 100%;
}

/* Set site-wide sizing for email and password fields */
input[type="email"] {
  width: 250px; 
}

input[type="password"] {
  width: 150px;
}