html, body {
  margin: 0;
  padding: 0;
  font-family: Arial;
}

#nav-bar {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  background: green;
  width: auto;
  height: 7vh;
  flex-direction: row;
  justify-content: space-between;
  color: #FFF;
}

#title {
  margin-left: 32px;
  flex-grow: 15;
}

#right {
  margin-right: 32px;
  flex-grow: 0;
}

h1 {
  font-size: 3em;
}