<footer>
<div id="footerbox" >
    <p align = "center"> Visit our home page here: &nbsp&nbsp  
  <a  href="http://greaterpcf.org/"><%= image_tag("gpcf_logo.png", height:"30", display:"flex") %>
  </p>

  </footer>

