<div>
      <ul>
        <li>
          <a class="active" href="/">Home</a>
        </li>
        <% if user_signed_in? %>
          <li>
            <a href="/users/<%=current_user.id%>">Profile</a>
          </li>
        <% elsif organization_signed_in? %>
          <li>
            <a href="/organizations/<%=current_organization.id %>">Profile</a>
          </li>
        <% end %>
        <li>
          <a href="/events">Events</a>
        </li>
        <li>
          <a href="/organizations">Organizations</a>
        </li>
        <li>
          <a href="/faq">FAQ</a>
        </li>
        <% if user_signed_in? %>
          <li style="float:right">
            <%= link_to 'Log Out', destroy_user_session_path, :method => :delete %>
          </li>
        <% elsif organization_signed_in? %>
          <li style="float:right">
            <%= link_to 'Log Out', destroy_organization_session_path, :method => :delete %>
          </li>
          <% else %>
          <li style="float:right">
           <a  href="/static_pages/signin_options">Sign In</a>
          </li>
        <% end %>
      </ul>
      
      <script>
  [].forEach.call(document.querySelectorAll('a'), function(elem) {
    if (elem.pathname === window.location.pathname)
      elem.classList.add('active')
    else
      elem.classList.remove('active')
  })
</script>
    </div>
