<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Volunteer Board</title>
  <link rel="stylesheet" href="header.css">
</head>
  
<body>
  <div id="nav-bar">
    <div id="title">Volunteer Board</div>
    <div id="right">Greater Poweshiek Community Foundation</div>
  </div>
</body>

</html>