<script src="/assets/copy_emails.js" type="text/javascript"></script>

<div class="modal" id="skillModal" tabindex="-1" role="dialog" aria-labelledby="skillModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="skillModalLabel">Tell us about your skills!</h2>
        <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
        <!--  <span aria-hidden="true">&times;</span>-->
        </button>
      </div>
      <div class="modal-body">
        <textarea id="volunteerSkills" style="width: 100%;"></textarea> <br>
        <div style="text-align: right; padding: 5px 0px;">
            <button type="button" class="btn btn-success" id="clipboard-btn">
                Add skill
            </button> <br>
        </div>
        
        <form id='skill-form' action='/events/email_volunteers/' method='post' data-remote='true'>
          <label>Added Skills: </label>
          <textarea id="skillContent" name="content" rows="5" style="width:100%" placeholder="Place your email content here."></textarea> <br>
          <label>Popular Skills (Recommendations): </label>
          <textarea id="skillContent" name="content" rows="5" style="width:100%" placeholder="Place your email content here."></textarea> <br>
        </form>
      </div>
      
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="submit" form='skill-form' class="btn btn-success send-email-btn">Save Skills</button>
      </div>
      
    </div>
  </div>
</div>
